<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>UCOH</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;


        }

        body {
            font-family: Arial, sans-serif;
            /* display: flex;
            text-align: center;
            align-items: center; */
            /* min-width: 100vh;
            min-height: 100vh; */
            margin: 0px;
            padding: 0px;

            height: 0px;


        }

        @media (min-width: 0px) and (max-width:600px) {
            .nav-list {

                height: 1%;
            }
        }

        /* Apply styles to the navbar */
        /* .navbar {
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            background-color: transparent;

        }


        .nav-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .nav-item {
            float: left;

        }

        .nav-item a {
            display: block;
            color: navajowhite;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            border-radius: 5px;
        }

        .nav-item a:hover {
            border: 1px solid navajowhite;
            box-shadow: 1px solid color(navajowhite);
            border-radius: 5px;
        
        } */

        .k {
            width: 100%;
            position: absolute;
        }

        


        /* Adjust content position to avoid overlapping with the navbar */
        .content {
            margin-top: 60px;
            /* Adjust this value to match the navbar height */
        }

        .kuta {
            position: relative;
            padding-top: 1000px;
        }

        .soham {
            padding-right: 145px;
            position: sticky;
            color: white;
            padding-top: 550px;
            text-shadow: 0px 0.5px green;
            margin: 15px;
            /* text-shadow: 1px 1px red; */
        }

        @media (min-width: 0px) and (max-width:450px) {

            .name {
                position: sticky;
                color: wheat;
                padding-top: 111px;
                margin-right: 35px;
                font-size: 9px;
            }
        }


        /* Style the dropdown button */
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .row {
            position: sticky;
            padding: 75px;
            padding-top: 200px;
        }

        .pagla_choda {


            color: red;
            text-align: center;
            font-size: 150px;
        }



        /* footer */


        .left {
            text-align: center;
            align-items: center;
            float: left;
        }





        .right {
            text-align: center;
            align-items: center;
            color: black;
            height: 25vh;
            float: right;
        }

        .h2 {
            display: grid;
            color: black;
            padding-top: 0px;
            font-size: 25px;
            margin-top: 0px;
        }

        .container {
            /* border: 2px solid black; */
            display: grid;
            grid-gap: 130px;
            padding: 15px;
            border-radius: 0px;
            background-color: rgba(128, 128, 128, 0.507);
            /* background-color:#51585e;  */
            grid-template-columns: repeat(3, 1fr);
            min-height: 25vh;
            min-width: 100%;
            /* margin-left: 0px;
           margin-right: 0px; */
            margin-top: 0vh;
            text-align: center;
            justify-content: center;
            background-image: none;
            color: white;

            /* box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.1); */

            text-align: center;
            /* border-radius: 15px; */
            justify-content: center;
        }

        .social-icons a {
            color: black;
            text-decoration: none;
            font-size: 20px;
        }

        .center {
            min-width: 50vh;
            height: 25vh;
            display: grid;
            margin-top: 0px;
            /* background-color: blue; */
            text-align: center;
            align-items: center;
            /* width: 460px; */
            /* background-color: red; */
        }

        input::placeholder {
            width: 480px;
            text-align: center;
            justify-content: center;
            height: 25px;
        }

        input {
            display: grid;
            padding: 13px;
            margin-top: 5px;
            border: 1px solid gray;
            border-radius: 10px;
            width: 480px;

            background-image: none;
            height: 20px;
        }

        .sn {
            text-align: center;
            justify-content: center;
            width: 250px;
            /* font-weight: 400px; */
            margin-left: 25%;
            padding: 2px;
            /* background-color: white; */
            border: 2px solid gray;
            /* font-weight: bold; */
            border-radius: 15px;
            margin-top: 200px;
            /* padding-left: 0%;
            /* padding-right:35; */
        }

        .p {
            color: black;
            display: grid;
            padding: 5px;

        }

        .right1 {
            /* margin-top: 30px; */
            margin-top: 25px;
        }

        .email {
            height: 35px;
            margin-top: 25px;

        }

        .p:hover {
            color: white;
            text-decoration: none;
        }

        .fab {
            height: 100%;
            width: 100%;
        }

        .row {
            margin-top: 100px;
        }

        #navbar {
            height: 100px;
            background-color: red;
            padding: 0px;
            margin: 0px 0px;
            color: navajowhite;
            display: flex;
            border-bottom: 1px solid gray;
            /* color: red; */
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            text-decoration: none;
            list-style-type: none;
        }

        #center {

            gap: 10px;
            /* justify-content: space-between; */
        }

        #nav-item {
            /* color: red; */
            color: navajowhite;
            text-decoration: none;
            margin-left: 10px;
            font-size: 15px;
            margin-right: 10px;
            padding: 10px;
            list-style-type: none;

        }

        #left {
            font-family: serif;
            color: navajowhite;
        }

        #login {
            color: navajowhite;
        }

        #singup {
            color: navajowhite;
            padding: 9px;
            border-radius: 8px;
            background-color: transparent;
            border: 1px solid white;
        }
        .login{
          color:navajowhite ;
          border: 0px;
          background-color: transparent;
        }

        #nav-item:hover {
            border: 1px solid navajowhite;
            box-shadow: 1px solid color(navajowhite);
            border-radius: 5px;
            /* padding: 10px; */
            /* background-color: #ddd ;
      color: rgba(255, 222, 173, 0); */
        }
    </style>
</head>

<body>
   
    <img class="k" src="own home.png">
    <!-- <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">About</a></li>
            <li class="nav-item"><a href="#">Services</a></li>
            <li class="nav-item"><a href="https://neon-piroshki-7c8254.netlify.app/?firstName=Soham+&lastName=Mallick&workEmail=anitamallick756%40gmail.com">Contact</a></li>
            
        </ul>
            
    </nav> -->

    <!-- navbar -->

    <div class="navbar">
        <h2 id="left">UCOH</h2>
        <div id="center">
            <a id="nav-item" href="">HOME</a>
            <a id="nav-item" href="https://6513325fb0687a03985f1775--monumental-douhua-1d7bac.netlify.app/">ABOUT</a>
            <a id="nav-item" href="https://651ba615ad4c4f26b2714b3e--coruscating-heliotrope-31bc46.netlify.app/">SERVICES</a>
            <a id="nav-item"
                href="https://neon-piroshki-7c8254.netlify.app/?firstName=Soham+&lastName=Mallick&workEmail=anitamallick756%40gmail.com">CONTACT</a>



        </div>
        <div id="right">
            <!-- <form class="login" action="/logout?_method=DELETE" method="POST" >
                <button class="login" type="logout">      <a class="login" >log Out</a></button> -->

                <form action="/logout?_method=DELETE" method="POST">
                    <button  type="submit">Log Out</button>
                  </form>
            <button id="singup">sing Up</button>
        </div>
    </div>
    </div>

    <h2 class="name">Uttarpara Children's Own Home</h2>

    <div class="soham">Our school, located in [uttarpara], is known for its academic excellence and vibrant
        community. With dedicated teachers and a wide range of extracurricular activities, we strive to provide a
        nurturing environment where students can thrive academically and personally.
    </div>

    <!-- block -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="qe.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Quality Education</h2>
            <p>Quality education empowers students with knowledge and critical thinking skills, nurtures their
                curiosity, and prepares them for future success. It provides a supportive learning environment, skilled
                teachers, relevant curriculum, and opportunities for personal growth and development.
            </p>
            <p><a class="btn btn-secondary"
                    href="https://650dd5256686c81aa79ab9f8--spontaneous-raindrop-5b11c4.netlify.app/" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="e.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Supportive Community</h2>
            <p>Extracurricular activities offer students opportunities beyond the classroom to explore their interests,
                develop new skills, and build meaningful relationships. They promote personal growth, teamwork,
                leadership, and a well-rounded education that extends beyond academic subjects.
            </p>
            <p><a class="btn btn-secondary" href="https://650dd589fc0bfc1afeb8ae3b--deft-fudge-dedff0.netlify.app/"
                    role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="a.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Extracurricular Activities</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary"
                    href="https://650dd387bef72e1afe3eed6d--luminous-mandazi-aaa2c6.netlify.app/" role="button">View
                    details »</a></p>
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="rounded-circle" src="b.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Safe and Inclusive Environment</h2>
            <p>Creating a safe and inclusive environment fosters respect, diversity, and belonging. It embraces open
                dialogue, equal opportunities, and empathy for all. Together, we build a space where everyone can
                thrive, free from discrimination, prejudice, and harm.
            </p>
            <p><a class="btn btn-secondary"
                    href="https://650dd5585ed17f1b1460fefe--whimsical-croissant-7aa6e8.netlify.app/" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="c.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Innovative Teaching Methods</h2>
            <p>Innovative teaching methods engage learners through interactive technologies, project-based learning, and
                real-world applications. They encourage critical thinking, collaboration, and creativity. By embracing
                innovation, we empower students to become lifelong learners and prepare them for the challenges of the
                future.
            </p>
            <p><a class="btn btn-secondary"
                    href="https://650dd481a171f11a145de784--sparkling-moonbeam-e0b76a.netlify.app/" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="d.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Parental Involvement</h2>
            <p>Parental involvement plays a vital role in a child's education. It nurtures communication, understanding,
                and support between parents and educators. Collaborative partnerships enable shared decision-making,
                fostering a positive learning environment that maximizes student success, well-being, and holistic
                development
            </p>
            <p><a class="btn btn-secondary"
                    href="https://650dd4e56686c81b549ab6e4--peaceful-meerkat-2426d2.netlify.app/" role="button">View
                    details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div>

    <!-- fotter -->
    <div class="container">
        <div class="left">
            <div class="h2">USEFUL LINKS</div>
            <a class="p" href="https://6513325fb0687a03985f1775--monumental-douhua-1d7bac.netlify.app/">About</a>
            <a class="p" href="https://651ba615ad4c4f26b2714b3e--coruscating-heliotrope-31bc46.netlify.app/">Services</a>
            <a class="p"
                href="https://neon-piroshki-7c8254.netlify.app/?firstName=Soham+&lastName=Mallick&workEmail=anitamallick756%40gmail.com">Contact</a>
            <!-- <p>Contact</p> -->
            <a class="p" href="">Shop</a>
            <a class="p" href="">Blog</a>
        </div>

        <div class="center">
            <div class="h2">NEWSLETTER</div>
            <!-- <input type="email" name="firstName" id="firstName" required> -->

            <input class="email" type="email" placeholder="Your Email Address" name="workEmail" id="workEmail" >
            <button class="sn">SUBCRIBE NOW</button>

        </div>

        <div class="right">
            <div class="h2">CONTACT</div>
            <p class="right1">100, Rajendra Avenue Uttarpara Hooghly, West Bangal, IN</p>
            <div class="social-icons">
                <a class="fab" href="facebook.png"><i></i></a>
                <a class="fab" href="youtube.png"><i></i></a>
                <a class="fab" href="twitter.png"><i></i></a>
                <a class="fab" href="instagram.png"><i></i></a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js
"></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1/bundled/lenis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.23/bundled/lenis.min.js"></script>
    <!-- 
    <script src="script.js" ></script> -->
    <script>
        //   gsap started
        const timeline = gsap.timeline({ default: { duration: 1 } })
        timeline

            .fromTo(".k", { duration: 0, autoAlpha: 0 }, {
                duration: 3, autoAlpha: 1,
            })
            .fromTo(".navbar", { duration: 0, y: -100, autoAlpha: 0 }, { autoAlpha: 1, y: "1", stagger: 1, delay: 1, duration: 1.4, }, 1)
            // .from(" .navbar", { duration: 1, y: '-100',stagger:1, }, 1)
            // .from(".navbar", {
            //   x: "-1500", duration: 0.8, stagger: .4,
            // })
            // .from("#nav-item",{
            // y:-100,
            // opacity:1,
            // duration:1,
            // stagger:1,

            // })
            .from(".name", {
                delay: 0, duration: 1.50, x: '-100%',
            }, 2)
            .from(".soham", {
                delay: 0, duration: 1.50, x: '-100%',
            }, 2)

        const tl = gsap.timeline({
            scrollTrigger: {

                trigger: '.col-lg-4',
                // stagger:"-.5",
                // trigger: "row",
                start: '-410vw center',
                end: '1200 center',
                scrub: false,
                markers: false,
                toggleActions: 'play pause play pause',
            },
        })
        tl
            .fromTo(".col-lg-4", { duration: 0, autoAlpha: 0 }, { autoAlpha: 1, y: "-100", delay: 1, duration: 1, stagger: .3 })

        const pagla = gsap.timeline({
            scrollTrigger: {

                trigger: '.p',
                trigger: ".h2",
                // stagger:"-.5",
                // trigger: "row",
                start: '-200 center',
                end: 'bottom center',
                scrub: false,
                markers: false,
                toggleActions: 'play reverse play pause',
            }, defaults: { duration: 1 }
        })
        pagla
            .fromTo(".container", { duration: 0, autoAlpha: 0 }, {
                duration: .5, autoAlpha: 1,
            })
            .from(".h2", {
                x: "-1500", duration: 0.8, stagger: .4,
            })

            .fromTo(".p", { duration: 0, autoAlpha: 0 }, {
                duration: 1, autoAlpha: 1,
            }, 2)
            .fromTo(".right1", { duration: 0, autoAlpha: 0 }, {
                duration: 1, autoAlpha: 1,
            }, 2)
            .fromTo(".sn", { duration: 0, autoAlpha: 0 }, {
                duration: 1, autoAlpha: 1, y: "-100"
            }, 2)
            .fromTo(".email", { duration: 1, autoAlpha: 0 }, {
                duration: 1, autoAlpha: 1,
            }, 2)


        //smooth scrol
        // Assuming that Lenis is defined and properly imported in your project
        const lenis = new Lenis();

        // Listen for the 'scroll' event
        lenis.on('scroll', (e) => {
            console.log(e);
        });

        // Define the recursive animation frame function
        function raf(time) {
            // Call the 'raf' method on the 'lenis' object if it's defined
            if (lenis.raf) {
                lenis.raf(time);
            }

            // Request the next animation frame
            requestAnimationFrame(raf);
        }

        // Start the animation loop by requesting the first animation frame
        requestAnimationFrame(raf);


    </script>


</body>


</script>


</html>